$background: #ffffff;
$accent: #a2a2a2;

.Home {
    height: 100vh;
    background-color: $background;

    .layout {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .flex-col {
            flex-grow: 1;
            // margin: 1rem;
        }

        .card-search {
            justify-content: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .card-results {
                border: 1px solid green;;
                margin: 0.5rem;
                padding: 1rem;
                list-style-type: none;
                flex-grow: 1;
            }
    
            .search-options {
                flex-grow: 1;
                border: 1px solid green;
                margin: 0.5rem;
                padding: 1rem;
            }
        }

        .workspace {
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            
            .display-cards {
                border: 1px solid green;
                margin: 0.5rem;
                flex-grow: 4;
                padding: 1rem;
            }

            .owned-groups {
                border: 1px solid green;
                margin: 0.5rem;
                flex-grow: 1;
                padding: 1rem;
            }
        }

        .extras-panel {
            border: 1px solid green;
            margin: 0.5rem;
            padding: 1rem;
        }
    }
}